---
import { Image } from 'astro:assets';
import MainImage from '@assets/main-image.png';
import Github from '@icons/Github.astro';
import PingContainer from '@components/ui/PingContainer.astro';
import LinkedIn from '@icons/LinkedIn.astro';
import Xing from '@icons/Xing.astro';
---

<section
    class='border-gradient group relative aspect-square h-full w-full overflow-hidden md:col-span-2 md:row-span-1 md:aspect-video'
>
    <div
        class='absolute inset-0 flex items-end justify-center overflow-hidden pb-1 pr-2 md:items-stretch md:justify-end md:pr-3'
        ,
    >
        <Image
            src={MainImage}
            alt='DarayaQ Web Developer'
            class='h-auto max-h-[80%] w-full translate-x-2/4 object-contain object-bottom backdrop-blur-sm transition-transform duration-300 ease-in-out group-hover:scale-110 group-hover:backdrop-blur-lg sm:translate-x-1/3 md:max-h-full md:w-auto md:object-right md:pr-0 lg:translate-x-1'
        />
    </div>

    <article
        class='absolute top-1/2 z-10 flex -translate-y-1/2 transform flex-col items-start justify-start gap-2 px-10 py-24 md:inset-0 md:top-32 md:my-0 md:transform-none md:justify-evenly md:gap-4 md:py-4 lg:top-48 xl:top-60'
    >
        <div class='mt-4 text-balance'>
            <h1
                class='color-lagoon mb-6 text-left text-3xl font-bold sm:text-4xl md:max-w-80'
            >
                DarayaQ
            </h1>

            <h2 class='mt-4 text-base font-light sm:text-xl'>
                Web development & Design
            </h2>
            <h2 class='text-base font-light sm:text-xl'>
                Freelancer & Open Source Enthusiast
            </h2>
        </div>

        <PingContainer
            text='Open to Work/Projects'
            classText='text-xs sm:text-sm'
        />

        <!-- socnets -->
        <div class='mt-8 flex justify-around gap-3 md:mt-2 lg:mt-2'>
            <a href='https://github.com/darayaq-01/'>
                <Github
                    color='#000'
                    className='hover:underline hover:underline-offset-4 hover:decoration-dashed hover:transition-all hover:duration-400 hover:ease-in-out stroke-neutral-700 hover:stroke-black'
                />
            </a>
            <a href='https://www.linkedin.com/in/darayaq/'>
                <LinkedIn
                    color='#000'
                    className='hover:underline hover:underline-offset-4 hover:decoration-dashed hover:transition-all hover:duration-400 hover:ease-in-out stroke-neutral-700 hover:stroke-black'
                />
            </a>
            <a href='https://www.xing.com/profile/Daniel_Araya'
                ><Xing
                    color='#000'
                    className='hover:underline hover:underline-offset-4 hover:decoration-dashed hover:transition-all hover:duration-400 hover:ease-in-out stroke-neutral-700 hover:stroke-black'
                /></a
            >
        </div>
    </article>
</section>

<style>
    .border-gradient {
        position: relative;
        border-radius: 6px;
        overflow: hidden;
    }

    .border-gradient::before {
        content: '';
        position: absolute;
        inset: 0;
        z-index: 1;
        filter: blur(20px);
        background: linear-gradient(
            45deg,
            rgba(212, 21, 21, 0.986),
            rgb(44, 223, 68),
            rgba(184, 15, 15, 0.973)
        );
        background-size: 200% 100%;
        animation: borderanimation 4s linear infinite;
        mask:
            linear-gradient(#0b7cb1 0 0) content-box,
            linear-gradient(#870a8b 0 0);
        mask-composite: exclude;
        padding: 4px;
    }

    @keyframes borderanimation {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 200% 0%;
        }
    }
</style>
