---
import Github from '@icons/Github.astro';
import CardTitle from '@components/ui/CardTitle.astro';

const today = new Date();
---

<footer class='mt-10 bg-gradient-to-r from-[#124e50] to-[#048d92] text-ij-blue'>
    <article
        class='flex justify-center gap-1 bg-[linear-gradient(45deg,transparent_1px,#11BF8E_2px,#6E268C_2px,transparent_3px)] bg-[length:28px_28px] py-6 md:gap-4'
    >
        <CardTitle className='self-end  underline-offset-4 underline '
            >Get in touch</CardTitle
        >
        <div>
            <a
                href='mailto:web@darayaq.de'
                class='text-sm text-gray-300 hover:text-inherit hover:underline hover:underline-offset-[3px] md:text-base'
            >
                web@darayaq.de
            </a>
            <p class='text-sm text-gray-300 md:text-base'>Leipzig, Germany</p>
        </div>
    </article>

    <!-- TODO: add a Github link to the repository of this website -->
    <article class='mx-auto py-2 text-center'>
        <code class='font-mono text-xs font-light'>
            <span>{today.getFullYear()} - Made with &#9829; by </span><a
                class='hover:font-semibold hover:underline'
                href='https://darayaq.de'
                target='_blank'>darayaq</a
            > |
            <span>
                <!-- TODO add repository link here -->
                <a
                    href='/'
                    class='hover:duration-400 stroke-white-700 hover:stroke-white hover:underline hover:decoration-dashed hover:underline-offset-4 hover:transition-all hover:ease-in-out'
                >
                    <Github className='w-4 h-4 inline' color='#ffffff' />
                </a>
            </span>
        </code>
    </article>
</footer>
