---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import Logo from '@assets/logos/logo.webp';

interface MenuItem {
    href: string;
    text: string;
}

const menusItems = [
    { href: '/', text: 'Home' },
    { href: '/about', text: 'About' },
    { href: '/impresum', text: 'Impresum' },
];
---

<header>
    <nav
        class='flex items-center justify-between px-2 py-4 md:mx-auto md:max-w-[1400px] md:px-8'
    >
        <a href='/' aria-label='Back to homepage'
            ><Image
                src={Logo}
                alt='Logo Darayaq'
                class='aspect-square h-24 w-auto'
            /></a
        >
        <div class='flex hidden flex-col justify-around gap-2 md:flex-row'>
            {
                menusItems.map((item) => (
                    <HeaderLink href={item.href} class='text-lg'>
                        {item.text}
                    </HeaderLink>
                ))
            }
        </div>
    </nav>
</header>
