---
import { Image } from 'astro:assets';

const { project, className, imageClass, classTitleGrey } = Astro.props;
const { title, imageFront } = project.data;
---

<div class:list={['masonry-item', className]}>
    <a
        class='block w-full h-full rounded-md overflow-hidden relative group bg-[rgb(242, 229, 156)]/60 outline-2 shadow-sm cursor-pointer drop-shadow-xl'
        data-content-id={project.id}
        href={`/projects/${project.id}/`}
    >
        <div class='masonry-content'>
            <Image
                src={imageFront || '/placeholder.svg'}
                alt={title}
                class:list={[
                    'transition-transform duration-300 ease-in-out object-cover w-full h-auto',
                    imageClass,
                ]}
            />

            <div
                class:list={[
                    'absolute inset-x-0 bottom-0 z-10 w-full bg-gray-600/60 px-4 py-1',
                    classTitleGrey,
                ]}
            >
                <span
                    class='text-balance pr-3 text-left text-sm font-medium tracking-separated md:text-base'
                >
                    {title}
                </span>
            </div>
            <slot />
        </div>
    </a>
</div>
