---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BaseHead from '@components/BaseHead.astro';
import BackBtn from '@components/ui/BackBtn.astro';

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang='en'>
    <BaseHead title={title} description={description} />

    <body class='relative min-h-screen'>
        <div
            class='absolute inset-0 -z-10 bg-white bg-gradient-to-br from-[#F2561D] via-[#0ca4aff6] to-[#11BF8E] blur-2xl'
        >
        </div>
        <Header />
        <main class='m-auto max-w-3xl px-4 py-8'>
            <BackBtn text='Projects' href='/projects' />
            <slot />
        </main>
        <Footer />
    </body>
</html>
